
#login-card {
    width: 50%;
    margin: auto;
}

#login-container {
    height: 100%;
    padding-top: 8rem;
}

#login-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#login-content-container {
    height: 100%;
    display: flex;
}